In [5]:
from artel_parse import artel_reader_v2 as artel_parse

# Artel Parser: XML file formatter

#### The artel parser outputs an XML file containing well data - this script will reformat the XML file into an excel (xlsx) file
##### *** Select "Cell > Run All" to run the script

In [6]:
artel_parse.XMLFormatter();

Output()

HTML(value='<h3><b><u>Output display</u></b></h3>')

      19     20     21
A  3.728  6.159  6.354
B  6.331  6.326  6.370
C  4.841  5.893  5.979
D  6.001  5.968  6.009
E  5.626  5.936  5.973
F  5.987  5.947  6.015
G  5.687  5.906  6.003
H  6.049  5.981  6.005
I  5.610  5.726  5.767
J  5.853  5.759  5.838
K  5.602  5.662  5.732
L  5.718  5.624  5.756
M  5.842  5.845  5.888
N  5.945  5.939  5.833
O  5.800  5.716  5.850
P  5.749  5.891  5.866